@color-link-hover: #00aeef;
@color-link-basic: #00aeef;
@color-link-hover-2: #294052;
@color-text: #153450;
@color-background: rgba(248, 228, 204, 0.25);
@color-extra: #00aeef;
@color-extra2: #00aeef;
@color-headings: #808080;

@color-success: #84e137;
@color-success-bg: lighten(@color-success,25);
@color-error: #dd5a6f;
@color-error-bg: lighten(@color-error,25);
@color-default: #bebebe;
@color-default-bg: lighten(@color-default, 25);
@color-info: #ebcf46;
@color-info-bg: lighten(@color-info,25);

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-family: "Roboto";
@headings-font-family: @font-family;
@headings-font-weight:    500;
@headings-line-height:    1.1;

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@font-size-h1:            floor(@font-size-base * 2.60); // ~36px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.70); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px
