body {
  background: @color-background;
  font-family: @font-family !important;

  .clear-both {
    clear:both;
  }

  .float-right {
    float:right !important;
  }

  .float-left {
    float:left !important;
  }

  hr {
    border:0px;
    border-bottom:1px solid fadeout(@color-link-hover-2, 70);
  }
}